* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.main-container {
	max-width: 900px;
	margin: auto;
}

/* Header */
header {
	text-align: center;
	margin-bottom: 10px;
}

header h1 {
	font-size: 4rem;
	margin: 10px;
}

header div {
	display: inline-block;
	border: 1px solid black;
	padding: 5px 50px;
}

/* Game Grid */
#board {
	display: grid;
	grid-template-areas:
		"cell-0 cell-1 cell-2"
		"cell-3 cell-4 cell-5"
		"cell-6 cell-7 cell-8";
	margin: auto;
	grid-template-columns: repeat(3, 1fr);
	height: 379px;
	width: 379px;
	border: 2px solid black;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 125px;
	height: 125px;
}

.cell-3,
.cell-4,
.cell-5 {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.cell-1,
.cell-4,
.cell-7 {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

/* Dynamic cell coloring */
.winning {
	background-color: green;
}

.draw {
	background-color: yellow;
}

/* New Game Options */
#game-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.form-container {
	margin: 0.5rem;
	width: 250px;
}

select {
	display: block;
	width: 100%;
	padding: 0.2rem;
	font-size: 1.1rem;
}

#new-game {
	margin: 0 auto;
	padding: 0.5rem;
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	color: green;
	border: 2px solid green;
}
/* Footer */
footer {
	text-align: center;
}
